@page "/"
@inherits BaseComponent

@using Tewr.Blazor.FileReader

@inject IFileReaderService FileReaderService;


<Modal @ref="_loadingModal" ShowBackdrop="true">
    <ModalContent IsCentered="true">
        <ModalBody>
            Loading @_pageInfo ...
        </ModalBody>
    </ModalContent>
</Modal>    
<Modal @ref="_pagesModal" ShowBackdrop="true">
    <ModalContent IsCentered="true">     
        <ModalHeader>
            <ModalTitle>Pages</ModalTitle>
            <CloseButton />       
        </ModalHeader>
        <ModalBody>     
            @if (_reader != null)
            {
                <PageList Pages="_reader.GetFiles()"/>
            }
        </ModalBody>
    </ModalContent>
</Modal>
<input type="file" @ref="_inputTypeFileElement" @oninput=ReadFile/> 
@if (_reader != null)
{
    <Buttons Margin="Blazorise.Margin.Is2.FromRight">          
    <Button Clicked="@OnButtonClicked">Pages List</Button>
<Button Color="Color.Primary" @onclick="Previous">Previous Page</Button>
<Button Color="Color.Secondary" @onclick="Home">Home</Button>
<Button Color="Color.Primary" @onclick="Next">Next Page</Button>
</Buttons>
}


@if (_comicBytes != null)
 {
     <Figure>
         <FigureImage Source=@_comicBytes />
     </Figure>
}
else
{
    <Paragraph>Nothing loaded or invalid file</Paragraph>
}
