@page "/"
@inherits BaseComponent
@using Tewr.Blazor.FileReader

@inject IFileReaderService FileReaderService;


<Modal @ref="_modalRef" ShowBackdrop="true">
    <ModalContent IsCentered="true">
        <ModalBody>
            Loading @_pageInfo ...
        </ModalBody>
    </ModalContent>
</Modal>
<input type="file" @ref="_inputTypeFileElement" @oninput=ReadFile/>
<Buttons Margin="Blazorise.Margin.Is2.FromRight">
    <Button Color="Color.Primary" @onclick="Previous">Previous Page</Button>
    <Button Color="Color.Secondary" @onclick="Home">Home</Button>
    <Button Color="Color.Primary" @onclick="Next">Next Page</Button>
</Buttons>
@if (_reader != null)
{
    <Figure>
        <FigureImage Source=@_comicBytes onactivate="Event" onfocus="Event" onloadeddata=Event />
    </Figure>
}
